PORT=5000
DB_URI=mongodb+srv://MoveX:iamsujonmovex@nextlevel.fdygipl.mongodb.net/MoveX?retryWrites=true&w=majority&appName=NextLevel
NODE_ENV=development

# JWT
JWT_ACCESS_SECRET=iamaccesstoken
JWT_ACCESS_EXPIRES=1m

JWT_REFRESH_SECRET=iamrefreshtoken
JWT_REFRESH_EXPIRES=30d

# BCRYPT
BCRYPT_SALT_ROUND=10

# ADMIN
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=iamadmin